:root {
    --bg: #fff;
    --text: #000;
    --text2: #424242;
    --accent: #027f7f;
    --button: #025f5f;
}

body {
    background: var(--bg);
    font-family: 'Courier New', Courier, monospace;
    align-content: center;
    margin:auto;
    max-width: 98vw;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
}

.footer {
    height: 75px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: var(--accent);
}

header div {
    margin: 15px;
}

#scores {
    padding: 5px;
}

#timer {
    padding: 5px;
}

h2 {
font-size: 1.15em;
}

h3 {
    font-style: italic;
    font-weight: 200;
}

ul li {
    list-style: none;
    margin: 0px;
    font-size: 1.1em;
}

a {
    text-decoration: none;
    color: var(--accent);
}

#questionsText {
    font-size: 1.2em;
    font-weight: 600;
}

.container {
    display:flex;
    flex-direction: column;
}

.card1 {
    align-self: center;
    width: 50vw;
    padding: 3px;
    margin: 5px 0px 5px 0px;
    text-align: center;
}

.card2 {
    align-self: center;
    width: 50vw;
    padding: 3px;
    margin: 5px 0px 5px 0px;
    text-align: left;
    color: var(--text2);
}

.card3 {
    align-self: center;
    width: 50vw;
    padding: 3px;
    margin: 5px 0px 5px 0px;
    text-align: left;
}

.card4 {
    align-self: center;
    width: 50vw;
    padding: 3px;
    margin: 5px 0px 5px 0px;
    text-align: center;
}

.multipleChoice {
    display: block;
    text-align: left;
    font-size: 1.2em;
    padding: 8px;
}

.multipleChoice:hover {
    background: var(--button);
    color: var(--bg);
    border-radius: 5px;
}

.hidden {
    display:none;
}

.btn {
    font-family: 'Courier New', Courier, monospace;
    background: var(--accent);
    padding: 10px 15px 10px 15px;
    border-radius: 8px; 
    border-style: none;
    color: var(--bg);
    font-size: 1.4em;;
}

.btn:hover {
    background: var(--button);
}
