:root {
    --bg: #fff;
    --text: #000;
    --text2: #424242;
    --accent: #027f7f;
    --button: #025f5f;
}

body {
    background: var(--bg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-content: center;
    margin:auto;
    max-width: 98vw;
}

.header {
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
}

header div {
    margin: 15px;
}

#scores {
    border: 2px solid blue;
    padding: 5px;
}

#timer {
    border: 2px solid blue;
    padding: 5px;
}

h2 {
font-size: 1.15em;
}

h3 {
    font-style: italic;
    font-weight: 200;
}

ul li {
    list-style: none;
    margin: 0px;
}

a {
    text-decoration: none;
    color: var(--accent);
}


.container {
    border: 2px solid red;
    display:flex;
    flex-direction: column;
}

/* When the quiz starts, need to use js to convert the text align from center to left */
.card1 {
    border: 2px solid blue;
    align-self: center;
    width: 50vw;
    padding: 3px;
    margin: 5px 0px 5px 0px;
    text-align: center;
}

.card2 {
    border: 2px solid blue;
    border-top: 2px solid var(--text2);
    align-self: center;
    width: 50vw;
    padding: 3px;
    margin: 5px 0px 5px 0px;
    text-align: left;
    color: var(--text2);
}

.multipleChoice {
    display: block;
    text-align: left;
    font-size: 1.2em;
    padding: 8px;
}

.multipleChoice:hover {
    background: var(--button);
    color: var(--bg);
    border-radius: 8px;
}

.btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: var(--accent);
    padding: 10px 15px 10px 15px;
    border-radius: 8px; 
    border-style: none;
    color: var(--bg);
    font-size: 1.4em;;
}

.btn:hover {
    background: var(--button);
}
